<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ランチ一覧</title>
</head>
<body>
    <h2>ランチ一覧</h2>
	<!-- ▽▽▽▽▽ 13.9 ▽▽▽▽▽ -->
	    <!-- Flashメッセージの表示 -->
	    <p th:if="${message}" th:text="${message}" 
	        style="color: blue;">完了メッセージ
	    </p>
	    <!-- △△△△△ 13.9 △△△△△ -->
    <p th:if="${errorMessage}" 
        th:text="${errorMessage}" style="color: red;">
        エラーメッセージ
    </p>
    <table border="1" width="100%">
        <thead>
            <tr>
                <th	style="width: 5%;">ID</th>
                <th	style="width: 15%;">メニュー</th>
                <th	style="width: 15%;">お店</th>
				<th	style="width: 10%;">値段</th>
				<th	style="width: 10%;">前回利用日</th>
				<th	style="width: 5%;">回数</th>
				<th	style="width: 5%;">評価</th>
				<th	style="width: 20%;">メモ</th>
				<th	style="width: 10%;">今日利用</th>
				<th	style="width: 10%;">詳細</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="lunch : ${lunches}">
                <td th:text="${lunch.id}"></td>
                <td th:text="${lunch.menu}"></td>
				<td th:text="${lunch.shop}"></td>
				<td th:text="${lunch.price}"></td>
				<td th:text="${lunch.recentDate}"></td>
				<td th:text="${lunch.times}"></td>
				<td th:text="${lunch.rate}"></td>
				<td th:text="${lunch.memo}"></td>
				<td>
				    <a th:href="@{/lunches/{id}(id=${lunch.id})}">
				        今日利用
				    </a>
				</td>				
                <td>
                    <a th:href="@{/lunches/{id}(id=${lunch.id})}">
                        詳細
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
	<!-- ▽▽▽▽▽ 13.9 ▽▽▽▽▽ -->
	  <a th:href="@{/lunches/form}">新規登録</a>
	  <!-- △△△△△ 13.9 △△△△△ -->
</body>
</html>